body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles start*/
.text-primary {
  color: #4e47ff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.btn-primary {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  background-color: #4e47ff;
  font-weight: 700;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.dark-primary {
  font-family: "Raleway", sans-serif;
  color: #252432;
  font-weight: 700;
}
/* shared styles end*/

.header {
  margin: 50px 150px 50px 150px;
}

/* Header START */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LOGO {
}

/* Header END */

/*HERO START*/

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 309px 267.5px 237px 267.5px;
}

.herotext {
  font-size: 65px;
}

.herobtn {
  margin-top: 37px;
}
/*HERO END*/

/*ACTION START*/
.action {
  margin: 50px 150px 50px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divtext {
  font-size: 42px;
}
.divtext2 {
  font-weight: 300;
  font-size: 24;
  opacity: 50%;
}
.miniimg {
  border-radius: 48px;
}
/*ACTION END*/
